.homepage{
    width: 100vw;
    height: 100vh;
}

.mainForm{
    padding-left: 2vw;
    padding-right: 2vw;
    border: 2px solid grey;
    width: 50%;  
    height: 92vh;
}

.leftBar{
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid grey;  
    width: 25%;  
    height: 92vh;
}

.rightBar{
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid grey;
    width: 25%;  
    height: 92vh;
    
}

.topNav{
    padding-left: 2rem;
    color: white;
    background-color: #08262E;
    width: 100vw;
    height: 6vh;
}

.flex{
    justify-content: space-between;
    display: flex;
    flex-direction:row ;
}


.rightNavContent{
    margin: auto;    
}

.button{
    cursor: pointer;
}

.tab{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    width: 7vw;
    height: 4vh;
    border: 1px solid black;
}

.tabs{
    display: flex;
    direction: row;

}

.content{
    margin-top: 2rem;
}